<?xml version="1.0" encoding="utf-8"?>
<uSync>
	<BackOffice>
		<!-- location where uSync will save its files -->
		<Folder>~/uSync/v8/</Folder>
		
		<!-- general setup details -->
		<FlatFolders>True</FlatFolders>
		<UseGuidFilenames>True</UseGuidFilenames>

		<!-- uSync behavior -->
		<ImportAtStartup>False</ImportAtStartup>
		<ExportAtStartup>False</ExportAtStartup>
		<ExportOnSave>True</ExportOnSave>
		
		<!-- batch saving can sometimes make imports quicker, but not by much -->
		<BatchSave>False</BatchSave>

		<!-- calls a rebuild cache when an import completes
        (for Umbraco 8.3+ recommended value is false)  -->
		<RebuildCacheOnCompletion>False</RebuildCacheOnCompletion>
		<Complete>
			<!-- if true all media filenames in packs become guids -->
			<SafeMediaNames>true</SafeMediaNames>
		</Complete>
		
		<Exporter>
			<HandlerSet>exporter</HandlerSet>
		</Exporter>
		
		<Snapshots>
			<HandlerSet>snapshots</HandlerSet>
			<folders>views,css,scripts</folders>
		</Snapshots>
				
		<!-- handler sets -->
		<HandlerSets default="default">

			<!-- default for uSync dashboard-->
			<Handlers Name="default">
				<Handler Alias="dataTypeHandler" Enabled="true" />
				<Handler Alias="languageHandler" Enabled="true" />
				<Handler Alias="macroHandler" Enabled="true" />
				<Handler Alias="mediaTypeHandler" Enabled="true" />
				<Handler Alias="templateHandler" Enabled="true" />
				<Handler Alias="contentTypeHandler" Enabled="true" />
				<Handler Alias="dictionaryHandler" Enabled="true" />

				<!-- content edition in it's normal form is disabled -->
				<Handler Alias="memberTypeHandler" Enabled="false" />
				<Handler Alias="contentHandler" Enabled="false" />
				<Handler Alias="mediaHandler" Enabled="false" />
				<Handler Alias="domainHandler" Enabled="false" />
				<Handler Alias="contentTemplateHandler" Enabled="false" />

				<Handler Alias="publicAccessHandler" Enabled="true" />
			</Handlers>

			<!-- handlers for uSync exporter -->
			<Handlers Name="exporter">
				<Handler Alias="dataTypeHandler" Enabled="true" />
				<Handler Alias="languageHandler" Enabled="true" />
				<Handler Alias="macroHandler" Enabled="true" />
				<Handler Alias="mediaTypeHandler" Enabled="true" />
				<Handler Alias="memberTypeHandler" Enabled="false" />
				<Handler Alias="templateHandler" Enabled="true" Group="Files" />
				<Handler Alias="contentTypeHandler" Enabled="true" />
				<Handler Alias="contentHandler" Enabled="true" />
				<Handler Alias="contentTemplateHandler" Enabled="true" />
				<Handler Alias="dictionaryHandler" Enabled="true" />
				<Handler Alias="domainHandler" Enabled="true" />
				<Handler Alias="mediaHandler" Enabled="true" />
				<Handler Alias="memberGroupHandler" Enabled="true" />
				<Handler Alias="memberHandler" Enabled="true" />
				<Handler Alias="publicAccessHandler" Enabled="true" />
				<Handler Alias="userGroupHandler" Enabled="true" />
				<Handler Alias="userHandler" Enabled="true" />
				<Handler Alias="mediaFileHandler" Enabled="true" />
				<Handler Alias="ScriptFileHandler" Enabled="true" />
				<Handler Alias="StyleSheetHandler" Enabled="true" />
				<Handler Alias="PartialFileHandler" Enabled="true" />
				<Handler Alias="PartialMacroFileHandler" Enabled="true" />
				<Handler Alias="TemplateFileHandler" Enabled="true" />
			</Handlers>


			<!-- handlers for uSync snapshots -->
			<Handlers Name="snapshots">
				<Handler Alias="dataTypeHandler" Enabled="true" />
				<Handler Alias="languageHandler" Enabled="true" />
				<Handler Alias="macroHandler" Enabled="true" />
				<Handler Alias="mediaTypeHandler" Enabled="true" />
				<Handler Alias="memberTypeHandler" Enabled="false" />
				<Handler Alias="templateHandler" Enabled="true"/>
				<Handler Alias="contentTypeHandler" Enabled="true" />
				<Handler Alias="contentHandler" Enabled="true" />
				<Handler Alias="contentTemplateHandler" Enabled="true" />
				<Handler Alias="dictionaryHandler" Enabled="true" />
				<Handler Alias="domainHandler" Enabled="true" />
				<Handler Alias="mediaHandler" Enabled="true" />
				<Handler Alias="memberGroupHandler" Enabled="true" />
				<Handler Alias="memberHandler" Enabled="true" />
				<Handler Alias="publicAccessHandler" Enabled="true" />
				<Handler Alias="userGroupHandler" Enabled="true" />
				<Handler Alias="userHandler" Enabled="true" />
			</Handlers>

			<!-- handlers for uSync Publisher --> 
			<Handlers Name="publisher">
				<Handler Alias="dataTypeHandler" Enabled="true" Actions="All" />
				<Handler Alias="languageHandler" Enabled="true" Actions="All" />
				<Handler Alias="macroHandler" Enabled="true" Actions="All" />
				<Handler Alias="mediaTypeHandler" Enabled="true" Actions="All" />
				<Handler Alias="memberTypeHandler" Enabled="true" Actions="All" />
				<Handler Alias="templateHandler" Enabled="true" Actions="All" />
				<Handler Alias="contentTypeHandler" Enabled="true" Actions="All" />

				<!-- publisher only send published content -->
				<Handler Alias="publishedContentHandler" Enabled="true" Actions="All" />
				<Handler Alias="contentTemplateHandler" Enabled="true" Actions="All" />
				<Handler Alias="dictionaryHandler" Enabled="true" Actions="All" />
				<Handler Alias="domainHandler" Enabled="true" Actions="All" />
				<Handler Alias="mediaHandler" Enabled="true" Actions="All" />
				<Handler Alias="publicAccessHandler" Enabled="true" Actions="All" />

				<Handler Alias="mediaFileHandler" Enabled="true" Actions="All">
					<Add Key="IncludeFileHash" Value="true" />
				</Handler>
				<Handler Alias="relationTypeHandler" Enabled="true" Actions="All" />
			</Handlers>

		</HandlerSets>

		<!-- custom mappings to things that are already in umbraco -->
		<!-- if you content is stored exactly like it is in an existing 
		     propertyEditor, you can map to it here. -->
		<!-- 
		<Mappings>
			<Add Key="MyCustomUrlPicker" Value="Umbraco.MultiUrlPicker" />
		</Mappings>
		-->
		
		<!-- caching - using the cache makes pushing and pulling faster -->
		<dependency>
			<publisherDependencyCache>True</publisherDependencyCache>
		</dependency>
	</BackOffice>
</uSync>