<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02e567cb-1b41-47f7-9d9c-42851ca7747e" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6c0a9471-f4fa-4482-80b0-8f5990637267">contentBase</Composition>
      <Composition Key="774dc78b-4077-4742-a787-1d0792203762">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bb02c99f-fc97-4fb2-8859-cc5af217fed9">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="49193f21-bc7a-4a39-b97c-0e174e9d2bff" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b9d7e292-80bf-48e9-b9f0-b7e8b7fefc6b</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>