<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16854663-cfd2-4a0e-9fae-50192024a604" Alias="searchPage" Level="1">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="95d56a1c-a515-4f1f-b33f-809b6f863f9c">contentBase</Composition>
      <Composition Key="774dc78b-4077-4742-a787-1d0792203762">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="357527e1-9aa1-403b-b6de-de4943653297">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>