<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16de0c6d-a8ce-4124-8018-328b9dd8ec1e" Alias="newsItem" Level="1">
  <Info>
    <Name>News Item</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>haber ekle</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="530fa929-dd4b-47f3-88e8-b5efac6ab3ea">categories</Composition>
      <Composition Key="e5a9d335-9f9f-4b49-a863-1a54c2147daf">newsBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="50847935-3511-48ac-a3ac-b640d27d4856">NewsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>