<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="874f3742-c997-4869-b957-34fc866df7d1" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6c0a9471-f4fa-4482-80b0-8f5990637267">contentBase</Composition>
      <Composition Key="774dc78b-4077-4742-a787-1d0792203762">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="43d56c07-766b-4857-8cad-b2f80d39e304">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e0316e99-85ca-4117-9be0-bdc5d640d7c5" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>df5c5253-e27c-42b5-9607-4ad100748b49</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="shop">Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>923b3436-9a6a-413e-b5b4-0d75d65df69f</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="shop">Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
      <Alias>shop</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>