<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b27bbac9-1f30-467f-a3d5-f447e15f0b6c" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="530fa929-dd4b-47f3-88e8-b5efac6ab3ea">categories</Composition>
      <Composition Key="95d56a1c-a515-4f1f-b33f-809b6f863f9c">contentBase</Composition>
      <Composition Key="774dc78b-4077-4742-a787-1d0792203762">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f35212f6-df79-4be9-aa5e-8048e71c01fd">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b27bbac9-1f30-467f-a3d5-f447e15f0b6c" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>