<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f947c42-cc4e-4b6c-9718-4b2dbc3b2175" Alias="[MULTICHECKBOXLIST] Category List" Level="1">
  <Info>
    <Name>[MULTICHECKBOXLIST] Category List</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "News"
    },
    {
      "id": 2,
      "value": "Events"
    },
    {
      "id": 3,
      "value": "Jobs"
    },
    {
      "id": 4,
      "value": "Products"
    }
  ]
}]]></Config>
</DataType>